doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Onebar by Freeplay 
		link(rel="preload stylesheet", href="chrome://browser/content/extension.css")
		link(rel="stylesheet", href="style.css")
		link(rel="shortcut icon", href="../../assets/blobfox/blobfoxboopfloof.svg", type="image/x-icon")
	body 
		h1 Works with <span>most</span> of Firefox's customizations 