html
	height 100%
	overflow hidden
	&::before
		content ""
		position absolute
		inset -150vh
		background linear-gradient(20deg, red 20%, blue)
		z-index -1


body
	display flex
	justify-content center
	align-items center
	height 100%
	margin 0
	margin auto
	color white
	text-align center
	text-shadow 0 8px 40px rgba(0,0,0,0.4)

h1
	display flex
	align-items center
	font-size 35vh
	// margin-top 80px
	> *
		margin-inline .2em
		color rgb(211, 191, 255)
		// color #ff8c13
		// font-weight 400
		// -webkit-text-stroke 3px white 
p    
	text-align center
	font-weight 600
	font-size 10vh
	margin-top -20vh
img
	height 1.2em
	margin-right .2em
	filter drop-shadow(0 8px 40px rgba(0,0,0,0.4))
