html {
  height: 100%;
  overflow: hidden;
}
html::before {
  content: "";
  position: absolute;
  inset: -150vh;
  background: linear-gradient(20deg, #f00 20%, #00f);
  z-index: -1;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  margin: auto;
  color: #fff;
  text-align: center;
  text-shadow: 0 8px 40px rgba(0,0,0,0.4);
}
h1 {
  display: flex;
  align-items: center;
  font-size: 35vh;
}
h1 > * {
  margin-inline: 0.2em;
  color: #d3bfff;
}
p {
  text-align: center;
  font-weight: 600;
  font-size: 10vh;
  margin-top: -20vh;
}
img {
  height: 1.2em;
  margin-right: 0.2em;
  filter: drop-shadow(0 8px 40px rgba(0,0,0,0.4));
}
