include assets/svg.pug

mixin button(name, tooltip, url, icon, nonewtab, me, big)

	a.button(
		href=url, 
		target=nonewtab ? "_self" : "_blank", 
		class=(icon ? "with-icon " : "") + (big ? "big " : ""),
		rel=me
	)
		span!=name
		br
		span.tooltip!= tooltip
		if icon 
			.img-container 
				img(src=icon, alt="", width="48", loading="lazy")


mixin foxxos(...items)
	each blobfox in items 
		img(src="assets/blobfox/"+blobfox, alt="", loading="lazy", width="40", height="40")

mixin cardBig(name, desc, ...items)
	article.card-big.full-width 
		.normal-width 
			div 
				h3.glow.low=name 
				p=desc 
				.links.column 
					block 
			.slider  
				each img in items 
					.img-container 
						.top-left 
						.top-right 
						.bottom-left 
						.bottom-right 
						.top-middle 
						.bottom-middle 
						.center 
						img(src=img, alt="", loading="lazy")
			
mixin imgCard(name, desc, img)
	article.card-img 
		h3=name 
		.img-container 
			img(src=img, alt="", loading="lazy")
			.info 
				p=desc 
				block 

mixin card(name, link, desc, img, isIcon)
	article.card    
		h3
			a(href=link, target="_blank")=name 
		.content
			div 
				p=desc 
				h5 Contributions 
				ul 
					block
			if img
				img(src=img, alt="", loading="lazy", width="250", height="100")

mixin listItem(name, url)
	li: a(href=url, target="_blank")=name  