include ../assets/svg.pug
include ../components.pug

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title What Is Free Doing Now?
		link(rel="stylesheet", href="../style.css")
	body 
		img#floof(src="../assets/blobfox/blobfoxfloof.svg", alt="", loading="lazy")
		.scroller 
			.bg 
				h1.animate(aria-label="/now")
					span(aria-hidden="true"): span(contenteditable) /
					span(aria-hidden="true"): span(contenteditable) N
					span(aria-hidden="true"): span(contenteditable) o
					span(aria-hidden="true"): span(contenteditable) w
			#hero
				+wave_lol() 
				section#info 
					div 
						//- UUuuuhh am gonna need a better way to make multiple pages at some point lol
						.pfp.filter-glow.low
							input#boop(type="checkbox", name="boop", aria-label="Boop Freeplay")
							img.pfp(src="../assets/blobfox/blobfoxfloofhappy.svg", alt="Blob Fox Floof Happy")
							img.pfp(src="../assets/blobfox/blobfoxboopfloof.svg", alt="Blob Fox Floof Boop")
							img.pfp(src="../assets/blobfox/blobfoxfloofcute.svg", alt="Blob Fox Floof Boop")
						h1.glow Freeplay 
						p The privacy-respecting foxxo that likes modern UI & contributing to open-source
							span.hide.glow  (and foxes !! 1!)
						.links 
							+button("To Homepage", "", "/", null, true)

			.sections 
				section.section 
					.heading 
						h1 What am I doing now?
						p Scroll Down to Read More!


					img#foxo(src="../assets/blobfox/blobfoxfloof.svg", alt="BlobFox Floof Emoji", width="300", height="300")

		style.
			.heading {
				font-size: 30px;
				margin-top: 100px;
				margin-block: 20vh 100vh;
				text-align: center;
			}
			.sections {
				padding-bottom: 30vh;
			}