<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<main>
	<header>
		<a href="/">made by me</a>
		<a href="https://volpeon.ink/emojis/neofox/">neofox by volpeon</a>
	</header>
		<p class="sr-only">
			This page contains a bunch of list elements, with every item being a neofox.
			The neofoxes are placed randomly on the page on an orange background.
			They animate around the page in sort of circular motion. 
			Some are moved further into the background, becoming smaller and more blurred,
			as if they're going deeper into the page. 
			Although some move at different speeds, they all synchronously move quicker every few seconds. 
			It looks like they're all swimming.
		</p>
		<label>
			<input type="checkbox">
			display outlines
		</label>
</main>
<div style="display: contents; pointer-events: none;" aria-label="hidden">
<!-- neofox source: https://volpeon.ink/emojis/neofox/ -->
<ul class="word-rotate-y">
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li>
<img alt=""src="../assets/neofox/neofox_floof.png" height="64">  
</li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64">  </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64">  </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
</ul>
<!-- neofox source: https://volpeon.ink/emojis/neofox/ -->
<ul class="word-rotate-y">
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li>
<img alt=""src="../assets/neofox/neofox_floof.png" height="64">  
</li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64">  </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64">  </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
</ul>
<!-- neofox source: https://volpeon.ink/emojis/neofox/ -->
<ul class="word-rotate-y">
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li>
<img alt=""src="../assets/neofox/neofox_floof.png" height="64">  
</li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64">  </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64">  </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
</ul>
<!-- neofox source: https://volpeon.ink/emojis/neofox/ -->
<ul class="word-rotate-y">
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li>
<img alt=""src="../assets/neofox/neofox_floof.png" height="64">  
</li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64">  </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64">  </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
</ul>
<!-- neofox source: https://volpeon.ink/emojis/neofox/ -->
<ul class="word-rotate-y">
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li>
<img alt=""src="../assets/neofox/neofox_floof.png" height="64">  
</li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64">  </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64">  </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
</ul>

<!-- neofox source: https://volpeon.ink/emojis/neofox/ -->
<ul class="word-rotate-y">
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
<li>
<img alt=""src="../assets/neofox/neofox_floof.png" height="64">  
</li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64">  </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64">  </li>
<li><img alt=""src="../assets/neofox/neofox_floof.png" height="64"> </li>
</ul>
</div>