header {
	position: fixed;
	bottom: 2vh;
	left: 2vh;
	display: flex;
	gap: 20px;
	background: rgba(255,255,255,0.9);
	padding: 12px 24px 14px;
	border-radius: 100px;
	font-size: .8rem;
	white-space: nowrap;
	text-underline-offset: .4em;
}
a {
	color: #f69339;
}
.sr-only {
	contain: strict;
	font-size: 0;
}

main {
	opacity: 0;
	transition: opacity .4s;
}
body:hover main, body:focus-within main {
	opacity: 1;
}

label {
	font-size: 1rem;
	position: absolute;
	top: 2vh;
	left: 2vh;
}

main:has(input:checked) ~ div ul {
	outline-color: white;
	backdrop-filter: blur(8px);
}

@keyframes rotate-y {
	0%, 100% {
		transform: translateY(0%) scale(1.2);
		filter: opacity(1);
		z-index: 2;
	}
	12.5% {
		transform: translateY(40%);
		filter: blur(0px) opacity(.7);
	}
	25% {
		transform: translateY(50%) scale(.8);
		filter: blur(4px) opacity(.5);
	}
	37.5% {
		transform: translateY(40%) scale(.65);
		filter: blur(8px) opacity(.3);
		z-index: -1;
	}
	50% {
		transform: translateY(0%) scale(.5);
		filter: blur(24px) opacity(.3);
		z-index: -1;
	}
	62.5% {
		transform: translateY(-40%) scale(.65);
		filter: blur(8px) opacity(.3);
		z-index: -1;
	}
	75% {
		transform: translateY(-50%) scale(.8);
		filter: blur(4px) opacity(.5);
	}
	87.5% {
		transform: translateY(-40%);
		filter: blur(0px) opacity(.7);
		z-index: 2;
	}
}
html {
	display: flex;
	justify-content: center;
	overflow: hidden;
	background: #f69339;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-weight: bold;
	font-family: system-ui;
	color: white;
	font-size: 6vh;
	perspective: 1000px;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	animation: fadeIn 2s .2s backwards;
}
@keyframes fadeIn {
	from {
		filter: opacity(0)
	}
}
img {
	height: 2em;
}
.word-rotate-y {
	height: 6em;
	width: 20vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	white-space: nowrap;
}
.word-rotate-y > li {
	display: flex;
	align-items: center;
	position: absolute;
	height: 100%;
	filter: opacity(0);
	animation: rotate-y 32s infinite cubic-bezier(.7,.2,0,1);
	text-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
/* values are neg so that it is already playing once loaded */
.word-rotate-y > li:nth-child(2) {
&, img {
	animation-delay: -4s;
}

}
.word-rotate-y > li:nth-child(3) {
&, img {
	animation-delay: -8s;
}
}
.word-rotate-y > li:nth-child(4) {
&, img {
	animation-delay: -12s;
}
}
.word-rotate-y > li:nth-child(5) {
&, img {
	animation-delay: -16s;
}
}
.word-rotate-y > li:nth-child(6) {
&, img {
	animation-delay: -20s;
}
}
.word-rotate-y > li:nth-child(7) {
&, img {
	animation-delay: -24s;
}
}
.word-rotate-y > li:nth-child(8) {
&, img {
	animation-delay: -28s;
}
}

@keyframes rotate {
to {
	transform: rotate3d(0, 0, 1, 1turn)
}
}
@keyframes move {
50% {
	transform: translate(25vh, -15vh)
}
}
img {
	diplay: block;
	animation-name: rotate, move;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
ul {
	animation: rotate 12s infinite;
	width: 15vh;
	border-radius: 900px;
	outline: 4px solid transparent;
	transition: outline-color .4s, backdrop-filter .4s;
}
ul:nth-child(2) {
	animation-duration: 20s;
	height: 15em;
}
ul:nth-child(3) {
	animation-duration: 18s;
}
ul:nth-child(4) {
	animation-duration: 10s;
	margin: 0;
	height: 20em;
}
ul:nth-child(5) {
	animation-duration: 40s;
	margin: 0;
	height: 40em;
}